* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 2rem;
}
button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.acc-page {
  padding: 50px 0;
}
.form-container {
  background: rgb(255, 255, 255);
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgb(37, 37, 37);
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 0 0px;
  color: rgb(0, 153, 255);
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
  border: 1px;
}
.form-container form {
  max-width: 300px;
  padding: 80px 20px;
  
  top: 130px;
  transition: transform 1s;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 5px;
  border: 1px solid rgb(0, 225, 255);
}

form input:focus{
  border-color: transparent;
}
form .btn {
  width: 100%;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus {
  outline: none;
}
#loginform {
  left: 0px;
  padding: 80px 20px;
}
#Registerform {
  left: 0;
  padding: 80px 20px;
}

form a {
  font-size: 12px;
}
#indicator {
  width: 100px;
  border: none;
  background: #3b80ff;
  height: 3px;
  margin-top: 8px;
  transform: translate(100px);
  transition: transform 1s;
}

#loginform .btn{
  background-color: blue;
}

#Registerform .btn{
  background-color: blue;
}